body {
	overflow: hidden;
	width: 100%;
	font-family: 'Open Sans',sans-serif;
	font-weight: bold;
	font-size: 1.75em; /* 28px */
	margin:0;
	padding:0;
	color: white;
	background-color: transparent;
}

body.preview {
	overflow: auto;
}

.clearfix {
    content: " ";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}

#main {
	background-repeat: no-repeat;
	position: absolute;
	overflow: hidden;

	margin: 0px;
	padding: 0px;
}

#main .region {
	overflow: hidden;
	position: absolute;
}

#main .region .container {
	overflow: visible !important;
}


	/* These are good for everything, pretty much -- will specialize later */
section h1 {
	font-size: 1.5em;
	margin-top: 0px;
	margin-bottom: 5px;
}

article h2 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 1em;
}

article p {
	font-size: 1em;
}

section.rss-feed {
	text-align: justify;
}

section.weather-feed article {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin: 0px 25px !important;
}

section.weather-feed article p {
	text-indent: 0px !important;
	margin-bottom: 5px;
}

section.weather-feed article p:last-child {
	margin-bottom: 0px;
}

section.weather-feed article p.metar-info {
	text-align: center; 
	font-size: 28px;
	line-height: 18px;
	font-weight: bold;
}

section.weather-feed article p.forecast-info {
	font-size: 24px;
	line-height: 20px;
}

section.weather-feed article h2 {
	text-align: center;
}

section.weather-feed article label {
	display: inline-block;
	width: 85px;
}

	/* Region specific stuff */
.region.type-slideshow article {
	margin-bottom: 10px;
}

.region.type-slideshow article p {
	font-size: 26px;
	text-indent: 35px;
	font-weight: normal;
	margin-top: 0px;
}

.region.type-slideshow article p.sign-text {
	text-indent: 0px;
}

.region.type-slideshow article h2 {
	font-size: 28px;
	line-height: 28px;
}

.marquee-container {
	height: 100%;
	display: flex;
	align-items: center;
}

.marquee-container article h2 {
	margin-bottom: 0px;
	display: inline;
}

.marquee-container section h1 {
	display: none;
}

.marquee-container article h2:after {
	content: "\00a0\2014\00a0";
}

.marquee-container article p {
	display: inline;
	margin: 0px;
	white-space: nowrap;
}

.marquee-container section {
	height: 70px;	/* Keep in sync with `article`'s line-height/font-size */
	width: 100%;
}

.marquee-container article {
	font-size: 60px;
	line-height: 60px;
	white-space: nowrap;
}

.cycle-slide {
	text-align: center;
	width: 100%;
}

	/* IFrame Styling Rules */
	/* overflow: hidden should remove scrollbars, but alas- it doesn't always */
	/* Please refer to -webkit-scrollbar pseudo-class */
.region iframe {
	overflow: hidden;
	border: none;
}

	/* Targets+removes scrollbars in Chrome and Firefox */
.region iframe::-webkit-scrollbar {
	display: none;
}

.region.type-datetime {
	display: flex;
	align-items: center;
	justify-content: center;
}

span.datetime {
	text-align: center;
	vertical-align: middle;
}

span.datetime > span {
	display: block;
}

span.datetime > span.time {
	font-size: 42px;
}

span.datetime > span.date, span.datetime > span.day {
	font-size: 24px;
	line-height: 24px;
}

/* Content Definition 
/*
 Ultimately, these belong in content definitions
#main #region-footer #date {
	font-size: 1.6em;

	position: absolute;
	
	left: 800px;
	bottom: 35px;
	margin-bottom: -10px;
}
	
#main #region-footer  #time {
	font-size: 2.2em;

	position: absolute;

	right: 35px;
	bottom: 17px;
}

#main.plum #region-footer {
	color: #FFF;
}
*/

/*
Content definitions

div#weather-section h2 {
	margin-bottom: 0px;
}
div#weather-section label {
	width: 100px;
	display: inline-block;
	text-align: left;
}

div#weather-section .value {
	display: inline-block;
	width: 65px;
	text-align: left;
}

.announcement {
	font-size: 2em;
}
*/
	/*
#main #region-footer {
		This also belongs in content definitions
	color: #502D7F;
	*/
}

